.ui-datatable .ui-state-default {
	border: none;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border: none;
}

.ui-state-active, .ui-state-default, .ui-state-hover {
	background-color: transparent;
	border: none;
}
	
.ui-widget {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 0.8em;
	line-height: 1.5em;
}

.ui-widget-header, .ui-datatable-data, .ui-widget-content {
	background-color: transparent;
	border: none;
	padding: 0;
}
.ui-widget-content .ui-datatable-odd {
	background-color: #F5F5F5;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	padding: 0;
}

.ui-inputfield, .ui-inputtext {
	background: #FFF;
	border: 1px solid #333;
}

.ui-paginator-first, .ui-paginator-last, .ui-paginator-next, .ui-paginator-page, .ui-paginator-prev {
	background: transparent !important;
}