body {
	background: #FFF;
}

div#page {
	max-width: 1080px;
	margin: 0 auto;
	padding: 1%;
	position: relative;
	width: 80%;
}

div#navAside {
	background: #FFF;
	display: flex;
	flex-direction: column;
	float: left;
	position: fixed;
	width: 15%;
}

div#main  {
	float: right;
	width: 80%;
	margin-bottom: 20px;
}

div#logo {
	text-align: center;
}

div#logo img {
	height: auto;
	text-align: center;
	width: 100px;
	max-width: 100%;
}

nav {
	margin: 20px 0;
	text-align: center;
	width: 100%;
}
nav ul {
	text-align: center;
	width: 100%;
	-webkit-padding-start: 0;
}
nav ul li {
	border-left: 5px solid transparent;
	border-radius: 3px;
	list-style: none;
	margin: 5px 0;
	padding-right: 5px;
}
nav ul li:hover {
	border-color: #CCC;
}
nav ul li.logout {
	color: #CCC;
	border: none;
	margin-top: 25px;
	padding: 0;
}
nav ul li.logout:hover {
	color: #6B2394;
}
nav ul li a, nav ul li a:link, nav ul li a:active, nav ul li a:visited {
	color: #6B2394;
	font-size: 1.25em;
	text-decoration: none;
}
nav ul li a:hover {
	color: #CCC;
}
nav ul li.active {
	border-color: #6B2394 !important;
}
nav ul li.active a, nav ul li.active a:link, nav ul li.active a:active, nav ul li.active a:visited {
	color: #6B2394;
	font-weight: bold;
}

header {
	border-bottom: 2px solid #6B2394;
	text-align: center;
	width: 100%;
}
header p {
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	text-justify: inter-word;
}

main {
	margin: 20px 0;
}

section {
	box-shadow: 9px 0px 9px -10px #888;
	float: left;
	width: 73%;
}

aside {
	float: right;
	width: 25%;
}

footer {
	border-top: 2px solid #CCC;
	clear: both;
	color: #CCC;
	font-size: 0.9em;
	text-align: right;
}
footer ul {
	-webkit-padding-start: 0;
}
footer li {
	border-right: 2px solid #CCC;
	display: inline-block;
	list-style: none;
	padding: 0 20px;
}
footer li:last-child {
	border-right: none;
}
footer a, footer a:link, footer a:active, footer a:visited {
	color: #CCC;
	text-decoration: none;
}
footer a:hover, footer .active a, footer .active a:link, footer .active a:active, footer .active a:visited {
	color: #555;
}

/* for screens smaller than 768px */
@media all and (max-width: 768px) {
	div#page {
		width: 95%;
	}
	div#navAside, div#main, section, aside {
		float: none;
		width: auto;
	}
	div#navAside {
		flex-direction: column-reverse;
		position: relative;
	}
	div#logo {
		text-align: center;
	}
	section {
		box-shadow: none;
	}
	nav {
		border-top: none;
		border-bottom: 2px dashed #CCC;
		margin: 0 0 20px 0 !important;
		padding: 0 0 15px 0;
	}
	nav li {
		border: none !important;
		display: inline-block;
		margin: 0 !important;
		padding: 0 !important;
		width: 19%;
	}
	footer {
		text-align: center;
	}
	footer li {
		border-bottom: 2px solid #CCC;
		border-right: none;
		display: block;
		padding: 5px 0;
	}
	footer li:last-child  {
		border-bottom: none;
	}
}