body {
	background: #FFF;
}

div#page {
	max-width: 1080px;
	margin: 0 auto;
	padding: 1%;
	position: relative;
	width: 80%;
}

div#navAside {
	display: flex;
	flex-direction: column;
	float: left;
	width: 15%;
}

div#main  {
	float: right;
	width: 80%;
	margin-bottom: 20px;
}

div#logo {
	text-align: center;
}

div#logo img {
	height: auto;
	text-align: center;
	width: 100px;
	max-width: 100%;
}

nav {
	margin: 20px 0;
	text-align: center;
	width: 100%;
}

header {
	border-bottom: 2px solid #6B2394;
	text-align: center;
}

main {
	margin: 20px 0;
}

section {
	box-shadow: 9px 0px 9px -10px #888;
	float: left;
	width: 73%;
}

aside {
	float: right;
	width: 25%;
}

footer {
	border-top: 2px solid #CCC;
	clear: both;
	padding: 20px 0;
	text-align: center;
}

/* for screens smaller than 1024px */
@media all and (max-width: 800px) {
	div#page {
		width: 95%;
	}
	div#navAside, div#main, section, aside {
		float: none;
		width: auto;
	}
	div#navAside {
		flex-direction: column-reverse;
	}
	div#logo {
		text-align: center;
	}
	section {
		box-shadow: none;
	}
	nav {
		border-top: none;
		border-bottom: 2px dashed #CCC;
		margin: 0 0 20px 0 !important;
		padding: 0 0 15px 0;
	}
	nav li {
		border: none !important;
		display: inline-block;
		margin: 0 !important;
		padding: 0 !important;
		width: 19.2%;
	}
}