body {
	background: #222;
}

div#page {
	max-width: 1080px;
	margin: 0 auto;
	position: relative;
	width: 80%;
}

header {
	height: 80px;
	padding: 25px 0;
}

section {
	float: left;
	width: 61%;
}

aside {
	float: right;
	width: 37%;
}

footer {
	color: #555 !important;
	clear: both;
	padding: 20px 0;
	text-align: center;
}

div#logo {
	float: right;
}
div#logoCompany {
	float: left;
}
div#logo img, div#logoCompany img {
	max-height: 80px;
	width: auto;
}

div#main {
	background-color: #F5F5F5;
	overflow: auto;
	padding: 2% 1%;
}

div#mainBackgroundImage {
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 100%;
}

div#def {
	color: #F5F5F5;
	font-size: 1.25em;
	margin: 10% 5%;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	width: 70%;
}
div#login {
	font-size: 1em;
	margin: 40% 10%;
}
div#login .ui-outputlabel {
	color: #F5F5F5;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
div#login  .ui-state-default, .ui-widget-content .ui-state-default {
	border: 1px solid #000;
}

/* for screens smaller than 1024px */
@media all and (max-width: 800px) {
	div#page {
		width: 95%;
	}
	section, aside {
		float: none;
		width: auto;
	}
	div#def, div#login {
		margin: 0;
		padding: 2%;
		width: 96%;
	}
}