div#page {
	color: #333;
	font-family: "Times New Roman", Georgia, Serif;
}

/* HEADINGS */
h1 {
	color: #6B2394;
	font-weight: bold;
	font-size: 2.25em;
	line-height: 0.8em;
	padding: 0 20px;
}

h2 {
	color: #6B2394;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0 20px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

h3 {
	color: #6B2394;
	font-weight: bold;
	font-size: 1em;
	padding: 0 20px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

aside h1, aside h2, aside h3 {
	color: #777;
	padding: 0;	
}

/* TEXT */
p {
	font-size: 0.8em;
	line-height: 1.5em;
	text-align: justify;
	text-justify: inter-word;
}

a, a:link, a:active, a:visited {
	text-decoration: none;
	color: #6B2394;
}

a:hover {
	text-decoration: underline;
}

header p {
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	text-justify: inter-word;
}
footer {
	color: #CCC;
}

nav ul {
	text-align: center;
	width: 100%;
	-webkit-padding-start: 0;
}
nav li {
	border-left: 5px solid transparent;
	list-style: none;
	margin: 5px 0;
	padding-right: 5px;
}

nav li:hover {
	border-color: #CCC;
}

nav a, nav a:link, nav a:active, nav a:visited {
	color: #6B2394;
	font-size: 1.25em;
	text-decoration: none;
}

nav a:hover {
	color: #CCC;
}
.active {
	border-color: #6B2394 !important;
}
.active a, .active a:link, .active a:active, .active a:visited {
	color: #6B2394;
	font-weight: bold;
}

.logout {
	color: #CCC !important;
	padding: 5px 0;
	width: 50%;
}
.logout:hover {
	color: #6B2394 !important;
}