.root {
	-fx-base: #FFF;
}

#popupWindow {
	-fx-background-color: #FFF;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 4, 4);
}

#separator-line {
	-fx-stroke: #6B2394;
	-fx-stroke-width: 3;
}

.dropzone {
	-fx-border-color: #CCC;
	-fx-border-width: 1;
	-fx-border-style: dashed centered segments(5);
	-fx-padding: 15px 0;
}

.bg-grey {
	-fx-background-color: #F5F5F5;
}

.bd-failure {
	-fx-border-color: #FFAD9E;
}

.bd-success {
	-fx-border-color: #6B2394;
}

.text-grey {
	-fx-fill: #F5F5F5;
}

.text-failure {
	-fx-fill: #FFAD9E;
}

.text-progressBar {
	-fx-font-size: 10px;
	-fx-fill: #333;
}

.text-success {
	-fx-fill: #6B2394;
}

#text-title {
	-fx-font-size: 20px;
	-fx-font-family: "Arial Black";
	-fx-fill: #6B2394;
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0.0, 0, 2);
}

/* CONTROLS */
.button, .check-box .box, .combo-box, .text-field, .text-area .content {
	-fx-fill: #000;
	-fx-background-color: #CCC, #FFF;
	-fx-background-radius: 5, 4;
	-fx-background-insets: 0, 1;
	-fx-highlight-fill: #6B2394;
	-fx-highlight-text-fill: #FFF;
}

.button:focused, .check-box:focused .box, .combo-box:focused, .text-area:focused .content, .text-field:focused {
	-fx-background-color: #6B2394, #FFF;
}

.button:pressed, .check-box:pressed .box {
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 1, 1, 1, 1);
}

/* button color */
.button-color {
	-fx-text-fill: #FFF;
	-fx-background-color: linear-gradient(#AB75CA, #6B2394);
}
.button-color:focused {
	-fx-background-color: linear-gradient(#AB75CA, #6B2394);
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 1, 1, 1, 1);
}
.button-color:pressed {
	-fx-background-color: linear-gradient(#6B2394, #AB75CA);
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 1, 1, 1, 1);
}

/* list view */
.list-view {
	-fx-background-color: #FFF;
	-fx-effect: none;
}

.combo-box-popup .list-view {
	-fx-background-color: #6B2394, #FFF;
	-fx-background-radius: 5, 4;
	-fx-background-insets: 0, 1;
	-fx-effect: none;
}

.list-view .list-cell {
	-fx-text-fill: #000;
	-fx-background-color: #FFF;
}

.combo-box-popup  .list-view .list-cell {
	-fx-background-radius: 5, 4;
	-fx-background-insets: 0, 1;
}

.list-view .list-cell:hover {
	-fx-background-color: #6B2394, #FFF;
	-fx-background-radius: 5, 4;
	-fx-background-insets: 0, 1;
}

.list-view .list-cell:empty, .list-view .list-cell:empty:hover {
	-fx-background-color: #FFF;
}

.list-view .list-cell:odd {
	-fx-background-color: #F5F5F5;
	-fx-background-radius: 5;
	-fx-background-insets: 0;
}

.list-view .list-cell:odd:hover {
	-fx-background-color: #6B2394, #F5F5F5;
	-fx-background-radius: 5, 4;
	-fx-background-insets: 0, 1;
}

.combo-box-popup .list-view .list-cell:selected, .combo-box-popup .list-view .list-cell:selected:hover
	{
	-fx-text-fill: #6B2394;
	-fx-font-weight: bold;
}

/* text area */
.text-area, .text-area:focused  {
	-fx-background-color: #FFF;
	-fx-highlight-fill: #6B2394;
	-fx-highlight-text-fill: #FFF;
}

/* textfield */
/*TODO */
.textfield-error {
	-fx-text-box-border: red;
}

/* hyperlink */
.hyperlink {
	-fx-text-fill: #6B2394;
	-fx-border: transparent;
	-fx-box-border: transparent;
}

.hyperlink:focused {
	-fx-focus-color: transparent;
}

.hyperlink:hover {
	-fx-underline: true;
}

.hyperlink:visited {
	-fx-border: transparent;
	-fx-box-border: transparent;
	-fx-underline: false;
}

/* progress bar */
.progress-bar {
	height: 10px;
	-fx-padding: 0.2em 0;
}
/* .progress-bar .bar { */
/* 	-fx-background-color: linear-gradient(#AB75CA, #6B2394); */
/* 	-fx-background-insets: 0; */
/* 	-fx-background-radius: 5; */
/* } */
/* .progress-bar .track { */
/* 	-fx-background-color: #6B2394, #FFF; */
/* 	-fx-background-insets: 0, 1; */
/* 	-fx-background-radius: 5, 4; */
/* } */

.progress-bar .bar {
	-fx-background-color: #6B2394, #F5F5F5;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}
.progress-bar .track {
	-fx-background-color: #F5F5F5;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	}