<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Transcoder Web</display-name>
	<welcome-file-list>
		<welcome-file>pages/login.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Rewrite URL filter -->
	<filter>
		<filter-name>RewriteUrlFilter</filter-name>
		<filter-class>at.ac.tuwien.media.master.webappui.filter.RewriteUrlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RewriteUrlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Authentication filter -->
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>at.ac.tuwien.media.master.webappui.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- JSF -->
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Primefaces -->
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/primefaces_resource/*</url-pattern>
	</servlet-mapping>

	<!-- Stream Assets Servlet -->
	<servlet>
		<servlet-name>StreamAssetServlet</servlet-name>
		<servlet-class>at.ac.tuwien.media.master.webappui.servlet.StreamAssetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StreamAssetServlet</servlet-name>
		<url-pattern>/asset/*</url-pattern>
	</servlet-mapping>

	<!-- custom Primefaces theme -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>transcoder</param-value>
	</context-param>
</web-app>