body {
	background: #222;
	word-wrap: break-word;
}

div#page {
	margin: 0 auto;
	max-width: 1080px;
	position: relative;
	width: 80%;
}

header {
	align-items: flex-end; 
	-webkit-align-items: flex-end;
	color: #666;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	height: 60px;
	margin: 25px 0 15px 0;
	position: relative;
	width: 100%;
}

section {
	float: left;
	width: 61%;
}

aside {
	float: right;
	width: 37%;
}

footer {
	color: #666;
	font-size: 0.9em;
	padding: 15px 0;
	text-align: right;
}
footer li {
	border-right: 2px solid #666;
	display: inline-block;
	list-style: none;
	padding: 0 2.1%;
}
footer ul li:last-child {
	border-right: none;
	padding: 0 0 0 2.1%;
}
header a, header a:link, header a:active, header a:visited, 
footer a, footer a:link, footer a:active, footer a:visited {
	color: #666;
	text-decoration: none;
}
header a:hover, header .active a, header .active a:link, header .active a:active, header .active a:visited, 
footer a:hover, footer .active a, footer .active a:link, footer .active a:active, footer .active a:visited {
	color: #CCC;
}

div#logo {
	order: 0;
}
div#logo img {
	width: 140px;
}
header div#searchFieldSmall {
	flex-grow: 1;
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	margin: 0 3%;
	order: 2;
	width: 1%; /* anything will do */
}
div#login  {
	order: 3;
	width: 300px;
}
aside div#searchFieldSmall  {
	width: 100%;
}
header .ui-panelgrid, aside .ui-panelgrid {
	border-collapse: separate;
}
header .ui-panelgrid .ui-panelgrid-cell {
	border: none;
	padding: 0 0 0 3px;
}
aside .ui-panelgrid .ui-panelgrid-cell {
	border: none;
	padding: 0;
}
header .ui-state-default, header .ui-widget-content, header .ui-widget-content .ui-state-default {
	background: none;
	border: 1px solid #444;
	color: #666;
}
aside .ui-state-default, aside .ui-widget-content, aside .ui-widget-content .ui-state-default {
	background: none;
	border: 1px solid #555;
	color: #666;
}
header .ui-inputfield {
	color: #CCC !important;
}
header .ui-button .ui-button-text {
	line-height: 1.2;
}
header .ui-watermark {
	color: #666;
}
header .ui-widget {
	font-size: 0.9em;
}

main {
	background-color: #F5F5F5;
	overflow: auto;
}
div#main {
	overflow: auto;
	padding: 2% 1%;
	width: 98%;
}
div#mainBackgroundImage {
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 100%;
}
div#loginMessage {
	position: absolute;
	right: 0;
    top: 55px;
    width: 295px;
}
div#search {
	margin: 15% 0 0 10%;
}
div#title img {
	float: left;
	margin-top: 5px;
	max-width: 55px;
}
div#login em {
	color: #CCC;
	font-style: normal;
	font-weight: bold;
}
div#searchField .ui-state-default, div#searchField .ui-widget-content .ui-state-default {
	border: 1px solid #666;
	font-size: 1.5em;
}
div#login .ui-widget-content, div#searchField .ui-widget-content  {
	color: #666;
	background: transparent;
	border: transparent;
}
div#searchField .ui-autocomplete-input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	height: 30px; 
	padding: 4px 10px;
	width: 100%;
}
div#searchField .ui-button {
	height: 40px;
	width: 35px;
}
div#searchFieldSmall .ui-autocomplete-input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	height: 17px; 
	padding: 4px 10px;
	width: 100%;
}
aside div#searchFieldSmall .ui-autocomplete-input {
	width: 98%;
}
div#searchFieldSmall .ui-button {
	border-left: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	width: 40px;
}

.breadcrumbs {
	color: #666;
	font-size: 0.9em;
	margin-bottom: 5px;
}
.breadcrumbs .breadcrumb:before {
	content: "❳";
/* 	content: "❭"; */
	font-size: 0.7em;
	line-height: 0.7em;
	padding: 0 2px 0 5px;
}
.breadcrumbs a,
.related,
.related a {
	color: #666;
}
.breadcrumbs a:hover,
.related a:hover {
	color: #000;
	text-decoration: none;
}
.breadcrumbs li,
.related li {
	display: inline-block;
	list-style: none;
}
.related li {
	letter-spacing: 1px;
	margin: 0 5px;
}

.resource {
	background: #FFF;
	border: 1px solid #DDD;
	padding: 2px;
}
.resource .title {
	color: #666;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.resource .size {
	color: #666;
	font-size: 1.1em;
}
.resource p {
	color: #666;
	font-size: 0.9em;
	margin: 0;
	padding: 0 5px;
}
.resourceThumb {
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	height: 144px;
	position: relative;
	width: 100%;
}
.resourceThumb .resourceThumbText {
	bottom: 0;
	display: none;
	left: 0;
	padding: 6px 0;
	position: absolute;
	width: 100%;
}
.resourceThumb:hover .resourceThumbText {
	display: block;
	background: #F5F5F5;
	color: #000;
	opacity: 0.8;
	text-decoration: none;
}

/* for screens smaller than 768px */
@media all and (max-width: 768px) {
	div#page {
		width: 95%;
	}
	header {
  		flex-wrap: wrap;
  		-ms-flex-wrap: wrap;
  		-webkit-flex-wrap: wrap;
  		height: 95px;
	}
	header div#logo {
		width: 49%;
	}
	header div#searchFieldSmall {
		margin: 5px 0 0 0;
		order: 3;
		width: 100%;
	}
	header div#login {
		order: 2;
		width: 50%;
	}
	section, aside, div#search, div#title {
		float: none;
		width: auto;
	}
	footer {
		text-align: center;
	}
	footer li,
	footer li:last-child {
		border: none;
		display: block;
		padding: 5px 0;
	}
	div#search {
		margin: 0;
		padding: 15% 2%;
		width: 96%;
	}
	div#title {
		text-align: center;
	}
}