body {
	background: #FFF;
	word-wrap: break-word;
}

div#page {
	margin: 0 auto;
	max-width: 1080px;
	position: relative;
	width: 80%;
}

div#navAside {
	background: #FFF;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	float: left;
	max-width: 200px;
	position: fixed;
	width: 15%;
}

main  {
	float: right;
	width: 80%;
	margin-bottom: 20px;
}

div#logo {
	text-align: center;
	margin: 20px 0;
}

div#logo img {
	height: auto;
	text-align: center;
	width: 140px;
	max-width: 100%;
}

div#account {
	padding: 0 19%;
}

nav {
	margin: 20px 0;
	text-align: center;
	width: 100%;
}
nav ul {
	text-align: center;
	width: 100%;
}
nav ul li {
	border-left: 5px solid transparent;
	border-radius: 3px;
	list-style: none;
	margin: 5px 0;
	padding-right: 5px;
}
nav ul li:hover {
	border-color: #CCC;
}
nav ul li.logout {
	color: #CCC;
	border: none;
	margin-top: 25px;
	padding: 0;
}
nav ul li.logout:hover {
	color: #6B2394;
}
nav ul li a, nav ul li a:link, nav ul li a:active, nav ul li a:visited {
	color: #6B2394;
	font-size: 1.25em;
	text-decoration: none;
	word-wrap: normal;
}
nav ul li a:hover {
	color: #CCC;
}
nav ul li.active {
	border-color: #6B2394 !important;
}
nav ul li.active a, nav ul li.active a:link, nav ul li.active a:active, nav ul li.active a:visited {
	color: #6B2394;
	font-weight: bold;
}

header {
	border-bottom: 2px solid #6B2394;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
header p {
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	text-justify: inter-word;
}

main {
	margin: 20px 0;
}

section {
	box-shadow: 9px 0px 9px -10px #888;
	float: left;
	width: 73%;
}

aside {
	float: right;
	width: 25%;
}

footer {
	border-top: 2px solid #CCC;
	clear: both;
	color: #CCC;
	font-size: 0.9em;
	padding: 15px 0;
	text-align: right;
}
footer li {
	border-right: 2px solid #CCC;
	display: inline-block;
	list-style: none;
	padding: 0 2.1%;
}
footer li:last-child {
	border-right: none;
	padding: 0 0 0 2.1%;
}
footer a, footer a:link, footer a:active, footer a:visited {
	color: #CCC;
	text-decoration: none;
}
footer a:hover, footer .active a, footer .active a:link, footer .active a:active, footer .active a:visited {
	color: #555;
}

.outputLink,
.outputText {
	font-size: 0.8em;
	padding-left: 5px;
}
.outputLink {
	color: #6B2394;
}
.outputText {
	color: #333;
}

.resource p {
	color: #666;
	font-size: 0.9em;
	margin: 0;
	padding: 0 5px;
}
.resourceThumb {
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	height: 144px;
	position: relative;
	width: 100%;
}
.resourceThumb .resourceThumbText {
	bottom: 0;
	display: none;
	left: 0;
	padding: 6px 0;
	position: absolute;
	width: 100%;
}
.resourceThumb:hover .resourceThumbText {
	display: block;
	background: #F5F5F5;
	color: #000;
	opacity: 0.8;
	text-decoration: none;
}

div#searchFieldSmall .ui-autocomplete-input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	height: 18px; 
	padding: 4px 10px;
	width: 100%;
}
div#searchFieldSmall .ui-button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 28px;
	width: 40px;
}
div#searchFieldSmall .ui-panelgrid {
	border-collapse: separate;
}
div#searchFieldSmall .ui-panelgrid .ui-panelgrid-cell {
	border: none;
	padding: 0;
}

/* for screens smaller than 768px */
@media all and (max-width: 768px) {
	div#page {
		width: 95%;
	}
	div#main, section, aside {
		float: none;
		width: auto;
	}
	div#navAside {
		flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		float: none;	
		position: relative;
		width: 100%;
		max-width: 100%;
	}
	div#logo {
		text-align: center;
	}
	div#logo img {
		width: 280px;
	}
	div#account {
		padding: 0;
	}
	section {
		box-shadow: none;
	}
	nav {
		border-top: none;
		border-bottom: 2px dashed #CCC;
		margin: 0 0 20px 0 !important;
		padding: 0 0 15px 0;
	}
	nav li {
		border: none !important;
		display: inline-block;
		margin: 0 !important;
		min-width: 13%;
		padding: 0 !important;
	}
	footer {
		text-align: center;
	}
	footer li,
	footer li:last-child {
		border: none;
		display: block;
		padding: 5px 0;
	}
}