div#page {
	color: #333;
	font-family: "Times New Roman", Georgia, Serif;
}

/* HEADINGS */
h1 {
	color: #6B2394;
	font-weight: bold;
	font-size: 2.25em;
	line-height: 0.8em;
	padding: 0 20px;
}

h2 {
	color: #6B2394;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0 20px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

h3 {
	color: #6B2394;
	font-weight: bold;
	font-size: 1em;
	padding: 0 20px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

aside h1, aside h2, aside h3 {
	color: #777;
	padding: 0;	
}

/* TEXT */
p {
	font-size: 0.8em;
	line-height: 1.5em;
	text-align: justify;
	text-justify: inter-word;
}

a, a:link, a:active, a:visited {
	text-decoration: none;
	color: #6B2394;
}

a:hover {
	text-decoration: underline;
}